<?xml version="1.0"?>
<config>
    <modules>
        <Armat_Awards>
            <version>1.0.0</version>
        </Armat_Awards>
    </modules>
    <global>
        <blocks>
            <armat_awards>
                <class>Armat_Awards_Block</class>
            </armat_awards>
        </blocks>
        <helpers>
            <armat_awards>
                <class>Armat_Awards_Helper</class>
            </armat_awards>
        </helpers>
        <models>
            <armat_awards>
                <class>Armat_Awards_Model</class>
                <resourceModel>awards_resource</resourceModel>
            </armat_awards>
            <awards_resource>
                <class>Armat_Awards_Model_Resource</class>
                <entities>
                    <award>
                        <table>armat_awards</table>
                    </award>
                </entities>
            </awards_resource>
        </models>
        <resources>
            <awards_setup>
                <setup>
                    <module>Armat_Awards</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awards_setup>
            <awards_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awards_write>
            <awards_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awards_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Armat_Awards before="Mage_Adminhtml">Armat_Awards_Adminhtml</Armat_Awards>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <Armat_Awards>
                    <file>armat/awards.xml</file>
                </Armat_Awards>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <Armat_Awards>
                    <file>armat/awards.xml</file>
                </Armat_Awards>
            </updates>
        </layout>
    </adminhtml>
</config>
